<?xml version="1.0" encoding="utf-8"?>
<devices>
  <imeicode imei="911510856264896">
    <url>https://raw.githubusercontent.com/edpsamarthsugar/HPA_XML/master/911510856264896.xml</url>
    <version>1</version>
    <rstart>10000</rstart>
    <rend>10500</rend>
  </imeicode>
  <imeicode imei="862738031738893">
    <url>https://raw.githubusercontent.com/edpsamarthsugar/HPA_XML/master/862738031738893.xml</url>
    <version>1</version>
    <rstart>50001</rstart>
    <rend>50100</rend>
  </imeicode>
  <imeicode imei="911524854084420">
    <url>https://raw.githubusercontent.com/edpsamarthsugar/HPA_XML/master/911524854084420.xml</url>
    <version>1</version>
    <rstart>50101</rstart>
    <rend>50200</rend>
  </imeicode>
</devices>
